#master_active_tasks {
  height: 100%;
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#box_active_tasks {
  background-color: rgb(255, 143, 7);
  width: 90%;
  height: 95%;
  outline: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
