#master_sidebar_closed {
  position: absolute;
  left: -15rem;
  display: inline-block;
  height: 100vh;
  width: 15rem;
  background-color: rgb(196, 138, 58);
  transition-duration: 0.20s;
}
#master_sidebar_open {
  position: absolute;
  left: -30rem;
  display: inline-block;
  height: 100vh;
  width: 15rem;
  background-color: rgb(196, 138, 58);
  /* translating occurs relative to original position in the document flow : that is the point of origin */
  transform: translateX(200%);
  transition-duration: 0.20s;
}
#master_sidebar_fake {
  margin: 1rem 0rem 1rem 0rem;
  position: absolute;
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}
.arrow_toggle {
  height: 6rem;
  width: 3rem;
  position: absolute;
  top: 35%;
  left: 100%;
}
