#master_importance_key {
  width: 15%;
  height: 100%;
  background-color: grey;
}
#pirate_map {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pirate_map h3 {
  padding: 4rem;
}
.importance_key {
  background-color: grey;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.importance_key h5 {
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.importance_key h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.importance_key h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#pirate_map_pic {
  width: 10rem;
  height: 10rem;
}

#info_key {
  flex-wrap: wrap;
  font-size: 0.75rem;
  text-align: center;
  background-color: rgb(189, 189, 189);
}

#info_key p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}